@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll-left {
    display: flex;
    animation: scroll-left 100s linear infinite;
}


html {
    scroll-behavior: smooth;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}